<div class="container">
  <app-cockpit
  (serverCreated) = "onServerAdded($event)"
  (blueprintCreated) = "onBluePrintAdded($event)">
  <!-- these are our own custom events and we are binding them to the functions we defined in the TS file-->
  <!-- we shall define these custom events in the cockpit component -->
  </app-cockpit>
  <hr>
  <button class="btn btn-primary" (click)="onChnagedName()">Changed name</button>
  <button class="btn btn-danger" (click)="onDestroyComponent()">Destroy!</button>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element 
      *ngFor="let serverElement of serverElements" 
      [element] = "serverElement"
      [name] = "serverElement.name"
      > 
      <!-- we are actually trying to access the element proprty (the JavaScript object which we have defined) 
          we have defined in the server-element.components.ts file

          so basically we are trying to pass the value picked up serverElement from the array serverElements, 
          which is defined in this particulary component's TS file, to the elements property defined 
          in server-element.components.ts file
      -->
      </app-server-element>
    </div>
  </div>
</div>
